body
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Overpass;  
  
}
header 
{
    background-image: url("../images/Screenshot\ \(6\).png");
    height: 85vh;
    background-repeat: no-repeat;
    
}
header .container1
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .container1 .cont-links1
{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
header .container1 .cont-links1 .cont-links2
{
    display: flex;
    color: aliceblue;
}
header .container1 .cont-links1 .cont-links2 h1
{
    margin-top: 55px;
}
header .container1 .cont-links1 .cont-links2 ul
{
    list-style: none;
    display: flex;
    margin-top: 65px;
    width: 391px;
    /* flex-direction: column; */
    border-radius: 20px;
}
header .container1 .cont-links1 .cont-links2 ul li
{
    margin-right: 40px;
}
header .container1 .cont-links1 .cont-links2 ul li span
{
    cursor: pointer;
}
header .container1 .cont-links1 .cont-links2 ul li img
{
    transition: .4s;
}
header .container1 .cont-links1 .cont-links2 ul li:nth-child(3)
{
    margin-right: 0px;
}
header .container1 .cont-links1 .cont-links2 ul li div 
{
    background-color: white;
    color: black;
    padding: 15px 20px 15px 0px;
    margin-top: 20px;
    border-radius: 5px;
    width: 130px;
    height: 100px;
    display: none;
    position: absolute;
    z-index: 2;
}
header .container1 .cont-links1 .cont-links2 ul li div ol
{
    list-style: none;
    padding: 0px 0px 0px 20px;
}
header .container1 .cont-links1 .cont-links2 ul li div ol li
{
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}
header .container1 .cont-links1 .cont-links2 ul li img
{
    cursor: pointer;
}
header .container1 .cont-links1 .cont-links2 ul li div ol li:hover
{
    font-weight: 700;
    font-size: 15px;
}
header .container1 .cont-links1 .cont-btn
{
    margin-top: 57px;
    

}
header .container1 .cont-links1 .cont-btn button
{
    cursor: pointer;
}
header .container1 .cont-links1 .cont-btn button:first-child
{
    color: blanchedalmond;
    background-color: transparent;
    border: none;
    font-weight: 700;
    opacity: .8;
    
}
header .container1 .cont-links1 .cont-btn button:last-child
{
    color: hsl(356, 100%, 66%);
    font-weight: 800;
    border: none;
    height: 41px;
    width: 123px;
    border-radius: 30px;
    font-size: 17px;
    margin-left: 18px;
    

}
header .container1 .cont-links1 .cont-btn button:last-child:hover
{
    background-color: hsl(355, 100%, 74%);
    color: white;
}

header .container1 > h1
{
    color: white;
    font-weight: 600;
    margin-top: 100px;
    font-size: 50px;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
    /* width: 330px; */
}
header .container1 > p
{
    color: white;
    margin-top: 0px;
    opacity: .8;
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
    
}
header .container1 .cont-btn1
{
    margin-top: 30px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
header .container1 .cont-btn1 button
{
    cursor: pointer;
}
header .container1 .cont-btn1 button:first-child
{
    background-color: white;
    font-weight: 700;
        color:  hsl(356, 100%, 66%);
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}
header .container1 .cont-btn1 button:first-child:hover
{
    background-color: hsl(355, 100%, 74%);
    color: white;
}
header .container1 .cont-btn1 button:last-child
{
    font-weight: 700;
    color: white;
    border: .5px solid white;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color:  hsl(356, 100%, 66%);
}
header .container1 .cont-btn1 button:last-child:hover
{
    background-color: white;
    color:  hsl(356, 100%, 66%);;
}

header .container1 .cont-links1>img
{
    margin-top: 60px;
    height: 20px;
}
.img-2
{
    display: none;
}
.img-3
{
    display: none;
}
.cont-btn2
{
    display: none;
    flex-direction: column;
    margin: 15px 70px 0px 0px;
    align-items: center;
}
.cont-btn2 button
{
    width: 120px;

}
.cont-btn2 button:last-child
{
    background-color: hsl(356, 100%, 66%);
    color: white;
    font-weight: 800;
    border: none;
    height: 59px;
    width: 162px;
    border-radius: 30px;
    font-size: 17px;
    margin-left: 18px;  
}
.cont-btn2 button:first-child
{
    background-color: transparent;
    color: black;
    font-weight: 800;
    border: none;
    height: 59px;
    width: 162px;
    border-radius: 30px;
    font-size: 17px;
    margin-left: 18px;  
}
hr
{
    display: none;
}










@media only screen and (max-width:500px)
{
    header
    {
        height: 80vh;
    }
    hr
    {
        display: block;
        width: 90%;
        margin: 0;
        margin-top: 200px;
    }
    header .container1 >h1
    {
        font-size: 2em;
        text-align: center;
        padding-left: 24px;
        padding-right: 24px;
        width: 326px;
    }
    header .container1 .cont-links1
    {
        justify-content: space-between;
    }
    header .container1 .cont-links1 .cont-links2 h1
    {
        margin-left: 30px;
    }
    header .container1 .cont-links1>img
    {
        margin-right: 10%;
    }
    header .container1 .cont-links1 .cont-links2 ul
    {
        display: none;
        box-shadow: 5px 10px 8px #888888;

        
    }
    header .container1 .cont-btn
    {
        display: none;
    }
    .img-2
    {
        display: inline;
    }
    header .container1 .cont-links1 .cont-links2 ul li:nth-child(3)
    {
        margin-right: 36px;
    }
    header .container1 .cont-links1 .cont-links2 ul li div 
    {
        width: 70%;
        background-color:hsl(240deg 12% 92%);
        height: 115px;
        text-align: center;
        /* padding:20px auto 20px 20px; */
        margin-left: -16px;
    }

    header .container1 .cont-links1 .cont-links2 ul li div ol li
    {
        opacity: .6;
        font-weight: 500;
        padding: 5px;
        font-size: 23px;
        
    }
    header .container1 .cont-links1 .cont-links2 ul li div ol li:hover
    {
        font-weight: 700;
        font-size: 23px;
    }
    header .container1 .cont-links1 .cont-links2 ul li div ol 
    {
        padding: 0px 0px 0px 57px;
    }
    .cont-2
    {
        display: block;
    }
}
/*start cont-p1**/
.cont-p1
{
    overflow: hidden;
    text-align: center;
}
.cont-p1 h2
{
    margin-bottom: 73px;
    margin-top: 100px;
    letter-spacing: 1px;
    font-size: 30px;
    color:  hsl(208, 49%, 24%);
}
.cont-p1 .cont3 img:first-of-type
{
    float: right;
    margin-right: -219px;
    position: relative;
    top: -130px;
    width: 820px;
}
.cont-p1 .cont3 img:last-of-type
{
    display: none;
}
.cont3
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.cont3 div
{
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 160px;
    line-height: 30px;
}
.cont3 div h3
{
    font-size: 25px;
    margin-bottom: 30px;
    color:  hsl(208, 49%, 24%);
    margin-bottom: 16px;
}
.cont3 div p
{
    margin-bottom: 60px;
    font-size: 16px;
    margin-top: 4px;
    opacity: .7;
}
@media only screen and (max-width:500px)
{
    .cont-p1 .cont3 img:first-of-type
    {
        display: none;
    }
    .cont-p1 .cont3 img:last-of-type
    {
        display: inline;
    }
    .cont3
    {
        flex-direction: column;
    }
    .cont3 div
    {
        text-align: center;
        padding:70px ;
    }
    .cont3 div h3
    {
        padding-right:32px;
        padding-left:32px;
    }


}
/*start cont-p2*/
.cont-background
{
    height: 350px;
    background-color:#393a56;
    border-radius: 0 80px 0 80px;
    overflow: hidden;
}
.cont-background img
{
    position: relative;
    left: -260px;
    top: -511px;
    width: 960px;
}
.cont-p2
{
    margin-top: -400px;
    position: relative;
    display: flex;
    justify-content: center;
    
    
}
.cont-p2 img
{
    width: 460px;
    margin-right: 57px;
    margin-left: 8%;
}
.cont-p2 h1
{
    color: aliceblue;
    padding-top: 119px;
    padding-right: 106px;
    font-size: 2.6em;
    font-weight: 600;
}
.cont-p2 p
{
    opacity: .7;
    color: aliceblue;
    width: 72%;
}
@media only screen and (max-width:500px)
{
    .cont-background 
    {
        height: 700px;
        margin-top: 300px;
    }
    .cont-background img
    {
        width: 681px;
        top: -221px;
        left: -134px;
    }
    .cont-p2
    {
        flex-direction: column;
        margin-top: -850px;
        align-items: center;
        text-align: center;
    }
    .cont-p2 img
    {
        width: 95%;
        margin-left: 0;
        margin-right: 0;
    }
    .cont-p2 h1
    {
        padding: 0;

    }
    .cont-p2 p
    {
        padding: 0px;
        margin: auto;
        width: 80%;
        line-height: 30px;
    }

}
/*start cont-p3*/
.cont-p3
{
    margin-top: 100px;
    display: flex;
    align-items: center;
    position: relative;
}
.cont-p3 div
{
    margin-right: 10%;
    margin-left: -20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    height: 520px;
    justify-content: space-around;
    padding-top: 59px;
    margin-top: 0;
}
.cont-p3 img:first-of-type
{
    position: relative;
    left: -271px;
}
.cont-p3 div h2
{
    color: hsl(208, 49%, 24%);
    margin-bottom: 0px;
}
.cont-p3 div p
{
    opacity: .5;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 0;
    
}
.img5
{
    display: none;
}
@media only screen and (max-width:500px)
{
    .cont-p3 img:first-of-type
    {
        display: none;
    }
    .img5
    {
        display: inline;
        width: 99%;
        margin-top: 100px;
    }
    .cont-p3
    {
        flex-direction: column;
        
    }
    .cont-p3 div
    {
        text-align: center;
        margin-right:0;
        margin-left: 0;
        align-items: center;
    }
    .cont-p3 div h2
    {
        margin-bottom: 19px;
    }
    .cont-p3 div p
    {
        width: 70%;

    }
}
/*start footer*/
footer
{
    background-color: hsl(240, 10%, 16%);
    display: flex;
    color: white;
    justify-content: space-around;
    height: 300px;
    padding-top:40px ;
    margin-top: 100px;
    border-radius: 0 90px 0 0 ;
}
footer p
{
    opacity: .6;
}
footer p:hover
{
    text-decoration: underline;
    cursor: pointer;
}
@media only screen and (max-width:500px)
{
    footer
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 800px;
    }
}